html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.shanghai_map_div{
    height: 100%;
    margin: 3px 5px 20px 20px;
    width: 1000px;
    height: 750px;
    padding: 0;
    border:1px solid #000;
}